@model IEnumerable<ITIL.Services.Contract.CityDto>
@{
    var errorMessage = TempData["ErrorMessage"];
}
<!DOCTYPE html>  
<html>  
<head>  
    <title>لیست شهرها</title>  
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
</head>  
<body>
    <a class="btn btn-danger" asp-action="CreateCity">اضافه کردن</a>

    @if (!string.IsNullOrEmpty(errorMessage?.ToString()))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
    <div class="container">  
        <h2 class="mt-4">لیست شهرها</h2>  
        <table class="table table-bordered">  
            <thead>  
                <tr>  
                    <th>شناسه</th>  
                    <th>نام شهر</th>  
                    <th>تعداد دپارتمان‌ها</th>  
                </tr>  
            </thead>  
            <tbody>
                @foreach (var city in Model)
                {
                    <tr>
                        <td>@city.Id</td>
                        <td>@city.Title</td>
                        <td>@city.DepartmentCount</td>
                        <td>

                            <a class="btn btn-info" asp-action="UpdateCity" asp-route-id="@city.Id">ویرایش</a>
                            <a class="btn btn-danger" asp-action="RemoveCity" asp-route-id="@city.Id" asp-route-departmentCount="@city.DepartmentCount">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>  
        

    </div>  
</body>  
</html>